/* BASES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Nasalization;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #212121;
} 
main {
    display: flex;
    height: 75vh;
    color: #fff;
}
@font-face {
    font-family: Nasalization;
    src: url(Nasalization.otf);
    font-weight: normal;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:visited {
    color: #fff;
}
/* HEADER */
.logo {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo #first-name {
    font-weight: bold;
    color: #f73558;
}

.cabecalho, .redes-sociais-container{
    height: 10vh;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    transition: all .6s ease-in;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list li a:hover {
    font-weight: 800;
    font-size: 1.1em;
    transition: .2s;
    color: #f73558;
}

.sandwich i{
    cursor: pointer;
    align-self: center;
    color: #f73558;
    font-size: 1.8em;
    display: none;
}
#click-menu {
    display: none;
}

#click-menu:checked ~ .nav-list {
    display: grid;
    z-index: 1;
}

/* MAIN CONTENT */
.content {
    height: 100%;
    width: 100%;
}
.texto {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    max-height: 80%;
    color: #fff;
}
.content .bg-icons {
    position: absolute;
    width: 100%;
    height: 75vh;
    line-height: 2rem;
    font-size: 2rem;
    display: flex;
    align-self: center;
    opacity: .7;
}
.fa-js-square {
    position: absolute;
    color: rgb(247, 242, 0);
    transform: rotate(-30deg);
    margin: 50vh 20vw;
}
.fa-css3-alt {
    position: absolute;
    color: rgb(68, 71, 255);
    transform: rotate(-20deg);
    margin: 8vh 5vw;
}
.fa-file-code {
    position: absolute;
    color: #d3d3d3;
    transform: rotate(20deg);
    margin: 20vh 60vw;
}
.fa-android {
    position: absolute;
    color: #3DDC84;
    transform: rotate(10deg);
    margin: 50vh 60vw;
}
.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    cursor: pointer;    
}
.content .profile-pic:hover{
    transform: translate(0, -3px);
}

#rosto {
    max-width: 80%;
    border-radius: 70%;
}

/* FOOTER */
.redes-sociais-container {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-self: center;
    bottom: 0;
}

.redes-wrapper {
    display: flex;
    align-items: center;
}
.redes-wrapper .button {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
.redes-wrapper .button:hover {
    transition: .6s;
    transform: translate(0, -3px);
}
.redes-wrapper .button:nth-child(1):hover .icon {
    background-color: #E4405F;
    border: solid 1px #fff;
    
}
.redes-wrapper .button:nth-child(2):hover .icon {
    background-color: #333;
    border: solid 1px #fff;
}
.redes-wrapper .button:nth-child(3):hover .icon {
    background-color: #0077B5;
    border: solid 1px #fff;
}
.redes-wrapper .button .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
}
.redes-wrapper .button .icon:hover i, .sandwich:hover{
    color: #ffffff;
}
.redes-wrapper .button .icon i {
    line-height: 60px;
    font-size: 40px;
    color: #23232e;
}
/* PAGINAS SECUNDARIAS */
#figurinha {
    width: 40%;
}
.content-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    padding: 15vh 10vw;
}
/* RESPONDIVIDADE */
@media (max-width: 768px){
    .cabecalho {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2vh;
    }
    .sandwich i{
        display: flex;
        justify-content: center;
        margin-right: 3vw;
    }
    .logo {
        margin-left: 5vw;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 90vh;
        background-color: #f73558;
        color: #fff;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .nav-list li:hover {
        font-weight: 800;
        font-size: 1.1em;
        transition: .2s;
        color: #ffffff;
    }
    .texto {
        font-size: 1.2rem;
    }
    #rosto {
        max-width: 100%;
        border-radius: 70%;
    }

    #figurinha {
        width: 80%;
        margin-top: 5vh;
    } 
}
